<%= render "slides/topnav" %>
<div class="container">
<div class="row">
   <div class="col-sm-6">
      <%= form_for @slide, url: slide_path(@slide), method: :patch, remote: true, class: "update" do |f| %>
      <div class="row">
         <div class="col-sm-12">
         <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#imgUploader">
              <span class="glyphicon glyphicon-picture"></span> upload 
         </button>

         <% if @slide.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@slide.errors.count, "error") %> prohibited
                  this slide from being saved:</h2>
               <ul>
                  <% @slide.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% end %>
         <p>
         <%= f.text_area :md%>
         </p>

         <p>
         <%= f.submit "=>", :class=>"btn btn-success refresh_btn"%>
         </p>
         </div>

      </div>
      <% end %>
   </div>

   <div class="col-sm-6">
      <button type="button" class="btn btn-default btn-sm" id='refresh' >
           <span class="glyphicon glyphicon-refresh"></span> 
      </button>

      <iframe id="preview" src="<%= root_url + slide_path(@slide) %>"></iframe>
   </div>

<%= render "slides/imguploader" %>

 
</div>
</div>


