<%= render "slides/topnav" %>
<div class="container">
<div class="row">
   <div class="col-sm-6">
      <%= form_for @slide, url: slide_path(@slide), method: :patch, remote: true, class: "update" do |f| %>
      <div class="row">
         <div class="col-sm-11">
         <% if @slide.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@slide.errors.count, "error") %> prohibited
                  this slide from being saved:</h2>
               <ul>
                  <% @slide.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% end %>
         <p>
         <%= f.text_area :md%>
         </p>
         </div>

         <div class="col-sm-1 col-nopad">
         <p>
         <%= f.submit "=>", :class=>"btn btn-success"%>
         </p>
         </div>
      </div>
      <% end %>
   </div>

   <div class="col-sm-6">
      <iframe id="preview" src="<%= root_url + slide_path(@slide) %>"></iframe>
   </div>
</div>
</div>


