<%= render "slides/topnav" %>

<div class="container">
<div class="row">
   <div class="col-sm-3">
      <h3>Welcome, <%=current_user.email%></h3>
      <!--menu col-->
   </div>
   <div class="col-sm-6">
      <div class="row">
         <div class="col-sm-12">
            <h1> Your Slides </h1>
         </div>
         <div class="col-sm-12">
            <%= link_to "+ Create",  new_slide_path, :class=> "btn btn-primary", :role=>"button" %>
            <hr>
         </div>
      </div>
      <% if @slides.size == 0 %>
         <h2> &#8679 You don't have any slides yet, create one by clicking the "<b>+ Create</b>" button above. (Tutorial Included!) </h2>
         <h3>You can also read this <%= link_to 'Markdown syntax guide', 'http://daringfireball.net/projects/markdown/syntax' %> </h3>
      <% end %>

      <% @slides.each do |slide| %>
      <div class="row">
         <div class="col-sm-6">
            <span class="glyphicon glyphicon-file"></span>
            <%= link_to slide.title, edit_slide_path(slide) %>
         </div>
         <div class="col-sm-6">
            <%= link_to content_tag(:span, "", :class=>"glyphicon glyphicon-new-window"), slide_path(slide), :target => "_blank" %>
            </span>
            <%= link_to content_tag(:span, "", :class=>"glyphicon glyphicon-trash"), slide_path(slide),
                        :confirm => 'Are you sure?', :method => :delete %>
         </div>
      </div>
      <% end %>
   <div class="col-sm-3">
      <!--reserved col-->
   </div>
</div>
</div>

